<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="DistributedInstall" value="False"/>
    <add key="WCFServer" value="localhost"/>
    <add key="MAPServer" value="localhost"/>
    <add key="SiteServer" value="localhost"/>
    <add key="ChildSiteServers" value=""/><!-- Comma Delimited (eg. CSS1,CSS2) -->
    <add key="WorkManager" value="localhost"/><!-- Comma Delimited (eg. WM1,WM2) -->
    <add key="ProcessingServer" value="localhost"/>
    <add key="TBServer" value="localhost"/>
    <add key="ProcessingLogPath" value="C:\ProgramData\Resolution1\PM"/> <!--Pre 6.0 Release only-->
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
